@import url(https://fonts.googleapis.com/css?family=Varela+Round);
html, body, .wrap, .inner {
    height: 100%;
}
body {
    background: #111;
    color: #fff;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
    margin: 0px;
}
h1 {
    font-weight: normal;
    text-transform: uppercase;
    margin: 5px 0px;
}
p {
    margin: 15px 0px;
    font-size: 18px;
}
.wrap {
    display: table;
    width: 100%;
}
.inner {
    display: table-cell;
    vertical-align: middle;
}
orange {
    color: #e74c3c;
}
a {
    text-decoration: none;
    color: #e74c3c;
    background: #FFF;
    display: inline-block;
    padding: 10px;
    border-radius: 30px;
    margin: 10px 0px;
}

