body {
	background-color: black;
}

h1 {
	color: white;
	text-align: left;
	
}

p {
	color: white;
	font-family: verdana;
	font-size: 20px;
}
hr {
	display: block;
	margin-left: 0;
	border: 2px dashed white;
	width: 10%;
}
blue {
	color: #ffb000;
}