body {
	background-color: black;
}

h1 {
	color: white;
	text-align: left;
	
}

p {
	color: white;
	font-family: verdana;
	font-size: 15px;
}
hr {
	display: block;
	margin-left: 0;
	border: 2px dashed white;
	width: 10%;
}
amber {
	color: #ffb000;
}
green {
	color: #009933;
}
red {
	color: red;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0000CC;
  color: white;
  text-align: center;
}